<ng-container *ngFor="let button of buttons">
    <ng-container *ngIf="button.viewCallback !== undefined; else linkButton">
        <a fxFlex="50%" mat-flat-button
            color="{{button.color}}" [disabled]="button.disabled"
            (click)="button.viewCallback.runCallback(button.viewCallbackMethod)">
            {{button.displayText}}
        </a>
    </ng-container>
    <ng-template #linkButton>
        <a fxFlex="50%" mat-flat-button
            color="{{button.color}}" [disabled]="button.disabled"
            [routerLink]="button.routerLink">
            {{button.displayText}}
        </a>
    </ng-template>
</ng-container>
