<div *ngIf="error">
    {{errorMessage}}
</div>
<div *ngIf="!error" >
    <div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="space-between stretch">
        <app-model-details fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%" [dataSource]="product"></app-model-details>
        <div class="actions" fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%">
            <a fxFlex="50%" mat-flat-button routerLink="/products/update/{{product.id}}" color="primary">Update product</a>
            <a fxFlex="50%" mat-flat-button routerLink="/products/delete/{{product.id}}" color="warn">Delete product</a>
        </div>
    </div>
</div>
