<div *ngIf="error">
    {{errorMessage}}
</div>
<div *ngIf="!error">
    <div fxLayout="row" fxLayoutAlign="left center">
        <mat-icon class="main-icon">help</mat-icon>
        <h1 class="main-text">
            Are you sure you want to delete this product?
        </h1>
    </div>
    <div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="space-between stretch">
        <app-model-details fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%" [dataSource]="product"></app-model-details>
        <div class="actions" fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%">
            <a fxFlex="50%" mat-flat-button color="primary" routerLink="/products/details/{{product.id}}">Cancel</a>
            <a fxFlex="50%" mat-flat-button color="warn" (click)="delete()">Delete</a>
        </div>
    </div>
</div>
