<div *ngIf="error">
    {{errorMessage}}
</div>
<div *ngIf="!error">
    <div *ngIf="helpMessage != ''" fxLayout="row" fxLayoutAlign="left center">
        <mat-icon class="main-icon">help</mat-icon>
        <h1 class="main-text">
            {{helpMessage}}
        </h1>
    </div>
    <!-- TODO: Make the layout configurable with parameters -->
    <div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="space-between stretch">
        <app-model-details fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%" [dataSource]="model"></app-model-details>
        <app-button-array class="actions" fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%" [buttons]="buttons"></app-button-array>
    </div>
</div>