<mat-sidenav-container>
    <mat-sidenav #sidenav (click)="sidenav.toggle()" [mode]="mobileQuery.matches ? 'push' : 'side'"
                    [fixedInViewport]="true" [opened]="!mobileQuery.matches">
        <mat-nav-list>
            <ng-container *ngIf="!authenticated; else authMenu">
                <a mat-list-item routerLink="/login">
                    <mat-icon mat-list-icon>account_circle</mat-icon>
                    Login
                </a>
            </ng-container>
            <ng-template #authMenu>
                <a mat-list-item routerLink="/">
                    <mat-icon mat-list-icon>home</mat-icon>
                    Home
                </a>
                <a mat-list-item routerLink="/products">
                    <mat-icon mat-list-icon>list</mat-icon>
                    Products
                </a>
            </ng-template>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <header id="navbar">
            <mat-toolbar color="primary">
                <button mat-icon-button aria-label="Menu icon" (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <h1>{{title}}</h1>
            </mat-toolbar>
        </header>
        <main id="content">
            <router-outlet></router-outlet>
        </main>
        <footer>
            <mat-toolbar color="primary"></mat-toolbar>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
