<header>
    <mat-toolbar color="primary">
        <button mat-icon-button aria-label="Menu icon" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Sellement</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
</header>
<main>
    <mat-drawer-container hasBackdrop="false" autosize>
        <mat-drawer #drawer mode="over">
            <mat-nav-list>
                <mat-list-item>
                    Button
                </mat-list-item>
            </mat-nav-list>
        </mat-drawer>
      
        <div id="content">
            <app-login></app-login>
        </div>
      
    </mat-drawer-container>
</main>
<footer>
    <mat-toolbar color="primary"></mat-toolbar>
</footer>