<main>
    <mat-drawer-container autosize>
        <mat-drawer #drawer (click)="drawer.toggle()" mode="push">
            <mat-nav-list>
                <mat-list-item>
                    <a routerLink="/">Home</a>
                </mat-list-item>
                <mat-list-item>
                    <a routerLink="/login">Login</a>
                </mat-list-item>
                <mat-list-item>
                    <a routerLink="/products">Products</a>
                </mat-list-item>
            </mat-nav-list>
        </mat-drawer>
      
        <header>
            <mat-toolbar color="primary">
                <button mat-icon-button aria-label="Menu icon" (click)="drawer.toggle()">
                  <mat-icon>menu</mat-icon>
                </button>
                <span>Sellement</span>
                <span class="example-spacer"></span>
            </mat-toolbar>
        </header>
        <div id="content">
            <router-outlet></router-outlet>
        </div>
        <footer>
            <mat-toolbar color="primary"></mat-toolbar>
        </footer>
    </mat-drawer-container>
</main>