<mat-spinner *ngIf="loading"></mat-spinner>

<div fxLayout="row wrap"
     fxLayout.xs="column wrap"
     fxLayoutAlign="start none"
     fxLayoutGap="3%">
    <mat-card class="product" *ngFor="let product of dataContainer.results"
              fxFlex="30%" >
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-actions align="end">
            <a mat-icon-button aria-label="Information" routerLink="details/{{product.id}}">
                <mat-icon>info</mat-icon>
            </a>
        </mat-card-actions>
    </mat-card>
</div>


<mat-paginator #paginator
                [length]="dataContainer.count" 
                [pageIndex]="dataContainer.currentPage"
                [pageSizeOptions]="[10]"
                (page)="pageChanged($event)" 
                aria-label="Select page">
</mat-paginator>
