/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
main { height: 100%; }

.card-flat {
    border: 1px solid lightgray;
    box-shadow: none;
}

.card-flat > * {
    word-break: break-word;
}

.actions {
    margin-top: 1rem;
}

.main-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.main-icon {
    font-size: 2.5rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
}
